In [1]:
# creating a list 
my_list = [1,2,3,4,5,1]

In [2]:
type(my_list)

list

### converting list to tuple by type casting

In [3]:
my_tuple = tuple(my_list)

In [4]:
print(my_tuple)

(1, 2, 3, 4, 5, 1)

In [5]:
type(my_tuple)

tuple

### converting tuple to set

In [6]:
my_set = set(my_tuple) # no duplicated

In [7]:
my_set

{1, 2, 3, 4, 5}

### converting set to list

In [9]:
my_set

{1, 2, 3, 4, 5}

In [10]:
my_list1 = list(my_set)

In [11]:
my_list1

[1, 2, 3, 4, 5]

In [12]:
type(my_list1)

list