In [1]:
# creating a list 
my_list = [1,2,3,4,5,1]

In [2]:
type(my_list)

list

### converting list to tuple by type casting

In [3]:
my_tuple = tuple(my_list)

In [4]:
print(my_tuple)

(1, 2, 3, 4, 5, 1)

In [5]:
type(my_tuple)

tuple

### converting tuple to set

In [6]:
my_set = set(my_tuple) # no duplicated

In [7]:
my_set

{1, 2, 3, 4, 5}

### converting set to list

In [9]:
my_set

{1, 2, 3, 4, 5}

In [10]:
my_list1 = list(my_set)

In [11]:
my_list1

[1, 2, 3, 4, 5]

In [12]:
type(my_list1)

list

# list []
#### created using square braces 
#### duplicated are allowed 
#### its mutable 
#### we can have hetrogenious data in same list 
#### list can be converted to set or tuple by type casting as above example 
#### index is available

In [1]:
my_list2 = [1,2,3,1,2,3,4]#duplicates are allowed

In [2]:
my_list2.append("a")#mutable

In [3]:
my_list2 # diff type of data is allowed (int,char) in a list

[1, 2, 3, 1, 2, 3, 4, 'a']

In [5]:
my_list2.pop() ## removes last element using pop()

'a'

In [6]:
my_list2[1:3]

[2, 3]

In [15]:
my_list_tuple = tuple(my_list2) # list to tuple

In [16]:
my_list_tuple

(1, 2, 3, 1, 'abc', 3, 4)

In [17]:
type(my_list_tuple)

tuple

In [18]:
my_list_set = set(my_list2) # list to set

In [19]:
print(my_list_set)

{1, 2, 3, 4, 'abc'}

In [20]:
type(my_list_set)

set

In [31]:
my_list_set[0] # no index in set

TypeError: 'set' object does not support indexing

# tuple ()
#### its is similar to list but cant be edited as its immuatable 
#### has index 
#### duplicates are allowed
#### we can convert tuple to set and list 
#### it can hold homogenious data

In [7]:
my_list2[4] ="abc"

In [8]:
my_list2

[1, 2, 3, 1, 'abc', 3, 4]

In [9]:
my_tuple2 = tuple(my_list2) ## list to tuple

In [10]:
my_tuple2 # tuple can hold different data , duplicats are allowed

(1, 2, 3, 1, 'abc', 3, 4)

In [12]:
my_tuple2.append(5) # immutable

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
my_tuple2[4] = 2

TypeError: 'tuple' object does not support item assignment

In [14]:
my_tuple2[4] # index

'abc'

In [21]:
my_tuple_list = list(my_tuple2) # tuple to list

In [22]:
print(my_tuple_list)

[1, 2, 3, 1, 'abc', 3, 4]

In [23]:
type(my_tuple_list)

list

In [24]:
my_tuple_list[5]

3

In [25]:
my_tuple_list[5] = 0 # mutable list, as its converted from tuple to list now

In [26]:
my_tuple_list

[1, 2, 3, 1, 'abc', 0, 4]

In [27]:
my_tuple_set = set(my_tuple2) #tuple to set

In [28]:
my_tuple_set # no duplicates in set

{1, 2, 3, 4, 'abc'}

In [29]:
type(my_tuple_set)

set

In [30]:
my_tuple_set[0] # no index in set

TypeError: 'set' object does not support indexing

# set {}
#### set has no duplicates 
#### do not allow index
#### mutable type 
#### set can be converted to list and tuple

In [33]:
my_set2 = {1,2,3,4,1,2,3,4,5}

In [41]:
type(my_set2)

set

In [34]:
my_set2 # no duplicates

{1, 2, 3, 4, 5}

In [35]:
my_set2.add("a")#mutable

In [36]:
my_set2 # it can hold data of diff type

{1, 2, 3, 4, 5, 'a'}

In [37]:
my_set2[-1] # no index

TypeError: 'set' object does not support indexing

In [38]:
my_set_list = list(my_set2) # set to list conversion

In [39]:
print(my_set_list)

[1, 2, 3, 4, 5, 'a']

In [40]:
type(my_set_list)

list

In [42]:
my_set_list.append(1)

In [43]:
my_set_list # list has duplicates

[1, 2, 3, 4, 5, 'a', 1]

In [44]:
my_set_list[3:-1] # indexing in list

[4, 5, 'a']

In [45]:
my_set_tuple = tuple(my_set2) # set to tuple

In [46]:
my_set_tuple

(1, 2, 3, 4, 5, 'a')

In [47]:
type(my_set_tuple)

tuple

In [48]:
my_set_tuple[1] # index

2

In [49]:
my_set_tuple[1] = 0 #immutable

TypeError: 'tuple' object does not support item assignment

In [50]:
my_set_tuple[0:-1] # index with range

(1, 2, 3, 4, 5)

In [51]:
my_set_tuple

(1, 2, 3, 4, 5, 'a')