# list-[ ] , set{ }, tuple()  funtions with examples

## List-[ ]

In [1]:
my_list =[1,2,3,4,1,2,3,4]

In [2]:
my_list

[1, 2, 3, 4, 1, 2, 3, 4]

In [3]:
my_list[0:4]

[1, 2, 3, 4]

In [4]:
my_list[-5]

4

In [5]:
my_list[-1]

4

In [7]:
my_list[1:6]

[2, 3, 4, 1, 2]

In [8]:
print(type(my_list))

<class 'list'>

#### replace element at index 7 with value 5.

In [9]:
my_list[7] = 5

### append( )
#### append an element at the end of list

In [11]:
my_list.append(6)

In [12]:
print(my_list)

[1, 2, 3, 4, 1, 2, 3, 5, 6]

### clear( )
#### clear elements in list

In [13]:
my_list.clear()

In [14]:
my_list

[]

In [15]:
my_list = ['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

### copy( )
#### copy my_list elements to my_list_alpha using copy()

In [19]:
my_list_alpha = my_list.copy()

In [20]:
my_list_alpha

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

#### count() to find how many time did a partiuclar element occur in the list

In [21]:
my_list.count('a')

2

In [24]:
my_list_alpha.count('b')

2

In [25]:
my_list_alpha[3] = 'a'

In [26]:
my_list_alpha.count('a')

3

### extend( )
#### adding 2 list using extend( )

In [27]:
my_list.extend(my_list_alpha)

In [28]:
my_list

['a',
 'b',
 'c',
 'd',
 'a',
 'b',
 'c',
 'd',
 'a',
 'b',
 'c',
 'a',
 'a',
 'b',
 'c',
 'd']

In [29]:
my_list_alpha

['a', 'b', 'c', 'a', 'a', 'b', 'c', 'd']

### index( )
#### finding index of a element in the list 
#### as there are duplicates in the list the output is :0
#### appending a new element 'e'in end and finding its index.

In [30]:
my_list_alpha.index('a')

0

In [32]:
my_list_alpha.append('e')

In [33]:
my_list_alpha

['a', 'b', 'c', 'a', 'a', 'b', 'c', 'd', 'e']

In [35]:
my_list_alpha.index('e')

8

### insert( )
#### inserting an element in list at a given index without replacing any other element

In [89]:
my_list_int = [1,2,3,4,5]

In [90]:
print(my_list_int)

[1, 2, 3, 4, 5]

In [91]:
my_list_int.insert(2, 2.5)

In [92]:
my_list_int

[1, 2, 2.5, 3, 4, 5]

### pop( )
#### pop() is used to remove element from list from last and providing pop(index) will let us pop element from any index provided

In [93]:
my_list_int.pop()

5

In [94]:
my_list_int

[1, 2, 2.5, 3, 4]

In [95]:
my_list_int.pop(3)

3

In [96]:
my_list_int

[1, 2, 2.5, 4]

In [97]:
my_list_int.pop(2)

2.5

In [98]:
my_list_int

[1, 2, 4]

### remove( )
#### removing elements from list refering to element it self.

In [99]:
my_list_int.remove(2)

In [100]:
my_list_int

[1, 4]

In [101]:
my_list_int1 = [5,6,7]

In [102]:
my_list_int.extend(my_list_int1)

In [103]:
my_list_int

[1, 4, 5, 6, 7]

In [104]:
my_list_int.remove(7)

In [105]:
my_list_int

[1, 4, 5, 6]

In [113]:
#insert 1 at index 4

In [106]:
my_list_int.insert(4, 1)

In [107]:
my_list_int

[1, 4, 5, 6, 1]

In [114]:
#removing element 1 from list , as we  have element 1 at index 0 and 4 , 
#the first element in list is removed from list dispite of duplicates

In [108]:
my_list_int.remove(1)

In [109]:
my_list_int

[4, 5, 6, 1]

In [110]:
my_list_int.remove(1)

In [111]:
my_list_int

[4, 5, 6]

#### removing element which doesnot exist , gives error.

In [112]:
my_list_int(1)

TypeError: 'list' object is not callable

### reverse( )
#### reversing a list

In [115]:
my_list_int.reverse()

In [116]:
my_list_int

[6, 5, 4]

## tuple ( )

In [117]:
my_tuple = (1, 2, 3, 4, 5)

In [118]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [119]:
print(type(my_tuple))

<class 'tuple'>

### index( )
#### index of element 4 is 3

In [120]:
my_tuple.index(4)

3

In [121]:
my_tuple.index(5)

4

In [122]:
my_tuple.index(1)

0

### count( )
#### count of element x occurence in tuple

In [123]:
my_tuple2 = ('x' ,' z', 'y', 'x', 'w')

In [125]:
my_tuple2.count('x')

2

In [126]:
#elemetn at index 4 is 'w'
my_tuple2[4]

'w'

In [129]:
#range from tuple 1 to 3 gives 
#output of index ranging 1 to 2
my_tuple2[1:3]

(' z', 'y')

In [130]:
#index -1 in tuple gives us the last element  in tuple 
my_tuple2[-1]

'w'

In [133]:
#index -4 gives element at 4 th index from right to left
my_tuple2[-4]

' z'

In [134]:
#tuple is immutable
#we cannot edit tuple
my_tuple2[-4] = 'r'

TypeError: 'tuple' object does not support item assignment

In [135]:
#we can have tuple of multiple type of values 
my_tuple3 = (1,2,3,'a','b','c',1.0,2.0,"abc")

In [136]:
my_tuple3

(1, 2, 3, 'a', 'b', 'c', 1.0, 2.0, 'abc')

## set -- { }

In [142]:
my_set = {"abc", "xyz","cat","rat","mat","rat","mat","abc"}

In [143]:
#prints output in assending order and removing duplicated
print(my_set)

{'abc', 'xyz', 'rat', 'cat', 'mat'}

In [144]:
print(type(my_set))

<class 'set'>

### add()

In [145]:
my_set.add("bat")

In [146]:
my_set

{'abc', 'bat', 'cat', 'mat', 'rat', 'xyz'}

### clear()
#### removes all elements in the set

In [147]:
my_set.clear()

In [148]:
my_set

set()

In [149]:
my_set = {1,2,3,1,2,3,4,1}

### copy()

In [150]:
my_set2 = my_set.copy()

In [151]:
my_set2

{1, 2, 3, 4}

In [152]:
my_set.add(5)

In [153]:
my_set.add(6)

### difference( ) 
#### finding difference between 2 sets

In [156]:
my_set

{1, 2, 3, 4, 5, 6}

In [155]:
my_set2

{1, 2, 3, 4}

In [154]:
my_set.difference(my_set2)

{5, 6}

### difference_update()

In [279]:
set1 = {1,2,3,4,5,6,7,1,2,3}

In [280]:
set2 = {1,2,3,4,6,7,8,9,10,3}

In [281]:
result1 = set1.difference_update(set2)

In [282]:
print(result1)

None

In [283]:
print(set1)

{5}

In [284]:
print(set2)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [285]:
set3 = {1.1,3.4,3.5,2.44,5.5,33.1}

In [286]:
set4 = {6.6,1,1.1,3,5.5,33.1,1.1}

In [287]:
result2 = set3.difference(set4)

In [289]:
print(result2)

{3.4, 2.44, 3.5}

### discard( )

In [291]:
#discard the element 1 from set2
set2.discard(1)

In [292]:
set2

{2, 3, 4, 6, 7, 8, 9, 10}

### intersection()

In [293]:
set_1 = {'a','b','c','d','a','f'}

In [294]:
set_2 = {'a','b','b','g','d','e','c'}

In [295]:
set_3 = {'a','b','c','m'}

In [296]:
set1_2 = set_1.intersection(set_2)

In [297]:
print(set1_2)

{'b', 'c', 'a', 'd'}

In [298]:
set2_3 = set_2.intersection(set_3)

In [299]:
print(set2_3)

{'a', 'c', 'b'}

In [300]:
set3_1 = set_3.intersection(set_1)

In [301]:
print(set3_1)

{'a', 'c', 'b'}

In [302]:
set123 = set_1.intersection(set_2, set_3)

In [303]:
print(set123)

{'a', 'c', 'b'}

### intersectin_update()

In [320]:
set_11 = {1,2,3,4,5,6}

In [321]:
set_22 = {1,2,3,6,8,9}

In [322]:
set_33 = {1,2,4,8,5,3}

In [323]:
set11_22 = set_11.intersection_update(set_22)

In [324]:
print(set11_22)

None

In [325]:
set_11

{1, 2, 3, 6}

In [326]:
set_22

{1, 2, 3, 6, 8, 9}

In [327]:
set22_33 = set_22.intersection_update(set_33)

In [328]:
print(set22_33)

None

In [329]:
set_22

{1, 2, 3, 8}

In [330]:
set_33

{1, 2, 3, 4, 5, 8}

In [331]:
set33_11 = set_33.intersection_update(set_11)

In [332]:
print(set33_11)

None

In [333]:
set_33

{1, 2, 3}

In [334]:
set_11

{1, 2, 3, 6}

### isdisjoint()

In [335]:
set_01 ={1,2,3,4}

In [336]:
set_02 = {5,6,7}

In [337]:
set_03 = {4,5,6}

In [338]:
print(set_01.isdisjoint(set_02))

True

In [339]:
print(set_01.isdisjoint(set_03))

False

In [340]:
print(set_02.isdisjoint(set_03))

False

### issubset()

In [341]:
set_a = {1,2,3}

In [342]:
set_b = {1,2,3,4,5}

In [343]:
set_c = {1,2,4,5}

In [344]:
print(set_b.issubset(set_a))

False

In [345]:
print(set_a.issubset(set_c))

False

In [346]:
print(set_c.issubset(set_b))

True

### issuperset()

In [350]:
set_aa = {1,2,3,4,5}

In [351]:
set_bb = {1,2,3}

In [352]:
set_cc = {1,2,3}

In [354]:
print(set_aa.issuperset(set_bb))

True

In [355]:
print(set_bb.issuperset(set_aa))

False

In [356]:
print(set_cc.issuperset(set_bb))

True