## string -- ' ' or  " "

In [1]:
my_str = "Reshma Tasneem"

In [2]:
my_str

'Reshma Tasneem'

In [5]:
type(my_str)

str

In [3]:
my_str1 = 'data Science'

In [4]:
my_str1

'data Science'

In [6]:
type(my_str1)

str

In [7]:
my_str[7:14]

'Tasneem'

In [8]:
my_str[-1]

'm'

In [9]:
my_str[2]

's'

### capitalize() 
#### makes first letter in string as a capital alphabet

In [17]:
my_str1.capitalize()

'Data science'

In [15]:
str_2 = 'hello ! welcom to data science class'

In [16]:
str_2.capitalize()

'Hello ! welcom to data science class'

### casefold()
#### this function is used to make all the string value to lowercase at once

In [18]:
str1 = 'ABCD'

In [19]:
str2 = "abcd"

In [22]:
str1.casefold()

'abcd'

In [23]:
str2.casefold()

'abcd'

In [20]:
# if to compare two strngs if they are equal ,else will be executed if they are not equal
if str1.casefold() == str2.casefold():
    print('equal')
else:
    print("not equal")

equal

In [21]:
print("frist string :{},second string :{}".format(str1,str2))

frist string :ABCD,second string :abcd

### center()
#### to print the output in center, specifying the width(any value )and fill char

In [26]:
my_str.center(30)

'        Reshma Tasneem        '

In [35]:
#provide a fill char after the space if you would want to have something in right and left side of string
my_str.center(20, '$')

'$$$Reshma Tasneem$$$'

In [36]:
my_str1.center(26,'%')

'%%%%%%%data Science%%%%%%%'

### count()
#### functon to find the count of particular element exixtance in the string

In [37]:
my_str.count("e")

3

In [42]:
str_2

'hello ! welcom to data science class'

In [41]:
str_2.count("data")

1

In [43]:
#count space's in str_2 
str_2.count(" ")

6

### encode() ??? 
### not clear need explaination

In [135]:
str_3 = "hi, its a encode method example"

In [136]:
str_3

'hi, its a encode method example'

In [137]:
str_3.encode('ascii','strict')

b'hi, its a encode method example'

In [138]:
str_4 = 'DataScience'

In [139]:
str_4.encode()

b'DataScience'

In [140]:
str_4.encode('ascii','replace')

b'DataScience'

In [141]:
str_4.encode('ascii','ignore')

b'DataScience'

In [142]:
str_4.encode('utf-8','strict')

b'DataScience'

### endswith()

In [143]:
str1

'ABCD'

In [144]:
str1.endswith('a')

False

In [145]:
str_4

'DataScience'

In [146]:
str_4.endswith('ce')

True

In [147]:
str_3

'hi, its a encode method example'

In [148]:
str_3.endswith('example')

True

### expandtab()
#### inserting tab before string value

In [149]:
str_tab = "hello\tworld"

In [150]:
print("original string:" + str_tab)

original string:hello	world

In [151]:
print('string before passing parameter , default:' + str_tab.expandtabs())

string before passing parameter , default:hello   world

In [152]:
print('string after passing parameter as 16 :' + str_tab.expandtabs(16))

string after passing parameter as 16 :hello           world

### find()

In [127]:
str_3

'hi, its a encode method example'

In [128]:
# e is 5 times 
str_3.find("e")

10

In [129]:
# , is 1 time 
str_3.find(",")

2

In [130]:
str_3.find(str_4)

24

In [131]:
str_5='exam'

In [132]:
str_3.find(str_5)

24

In [133]:
str_3.find(str_5, 10)

24

In [134]:
str_3.find(str_5, 30)

-1

### format()

In [153]:
x = 10

In [154]:
print("reshma has {} choclates.".format(x))

reshma has 10 choclates.

In [155]:
x = 15

In [156]:
print("reshma has {} choclates.".format(x))

reshma has 15 choclates.

In [164]:
print("i want {} apples".format(5))

i want 5 apples

In [165]:
my_name = "reshma {}"

In [166]:
print(my_name.format("tasneem"))

reshma tasneem

In [167]:
my_DOB = "10 -{} -{}"

In [168]:
print(my_DOB.format("09","93"))

10 -09 -93

### format_map()

In [177]:
str_map = {'x':-10,'y':20,'z':0}

In [179]:
print("{x} {y} {z}".format_map(str_map))

-10 20 0

### index()

In [180]:
str_word = 'amazon'

In [184]:
str_word.index('a')

0

In [185]:
str_word.index('z')

3

In [186]:
str_words = 'programing using python'

In [192]:
sub_string  = str_words.index("using")

In [193]:
print(sub_string)

11

In [195]:
sub_string  = str_words.index("thon")

In [196]:
print(sub_string)

19

In [197]:
#we have python in lower case
sub_string  = str_words.index("Python")

ValueError: substring not found

In [201]:
#find ing from 0 foun a t 7
str_words.index('ing',0)

7

In [220]:
#find ing starting at index 10, found it at index 13 in the word using 
str_words.index('ing',10)

13

In [217]:
#'g p' search from index 10 , found at 15 
str_words.index('g p',10)

15

In [216]:
#python word search starting from index 0, found at 17
str_words.index('python',0)

17

In [219]:
# find word g starting from index 0 and end index 10 
str_words.index('g',0,10)

3

In [221]:
#searcing word using starting from 0 till last element ,ound at index 11 
str_words.index('using',0,-1)

11

### isalnum()

In [222]:
my_str_alnum = "abcd1234"

In [224]:
my_str_alnum.isalnum() #true if string has alphnumeric and no space(no special char)

True

In [232]:
my_str_alnum2 = "abc xyz 1 ! "# false in case of special char in string

In [233]:
my_str_alnum2.isalnum()

False

### isalpha()

In [242]:
my_alpha = 'hello'

In [243]:
my_alpha.isalpha()

True

In [240]:
my_alpha2 = 'hello '# string contains space

In [241]:
my_alpha2.isalpha()

False

### isdecimal()

In [245]:
my_dec = "10.5"

In [246]:
my_dec2 = "10"#no special char or alphabets then output is true

In [247]:
my_dec.isdecimal()

False

In [248]:
my_dec2.isdecimal()

True

In [249]:
my_dec3 = "a123"

In [250]:
my_dec3.isdecimal()

False

### isdigit()

In [253]:
my_dec2.isdigit()#float value

True

In [257]:
my_dec.isdigit()# int value

False

### isidentifier()

In [260]:
my_iden = "hi"

In [261]:
my_iden.isidentifier()

True

In [264]:
my_iden2 = "hi Bye"#space in string

In [265]:
my_iden2.isidentifier()

False

### islower()
#### checks if the string is in lower case or not.

In [266]:
my_iden2.islower()

False

In [269]:
my_iden2# noted b is capital

'hi Bye'

In [267]:
my_iden.islower()

True

In [268]:
my_iden

'hi'

### isnumeric()
#### if the string is numeric or not

In [270]:
str_num = "10.00"

In [271]:
str_num.isnumeric()

False

In [272]:
str_num2 = "17"

In [273]:
str_num2.isnumeric()

True

### isprintable()

In [274]:
my_string_print = "apple a day !, keeps doctor away!"

In [275]:
my_string_print.isprintable()

True

In [280]:
my_print ='\n new line ?'

In [287]:
print(my_print)

 new line ?

In [281]:
my_print.isprintable()

False

In [283]:
my_print1 = ""

In [286]:
print("\n enpty string printable: ", my_print1.isprintable() )

 enpty string printable:  True

### isspace()
#### string containg only space ?

In [292]:
my_not_space = "hello world"

In [293]:
my_string_space.isspace()

False

In [299]:
my_space = " "# string value has only space

In [300]:
my_space.isspace()

True

### istitle()
#### returns true if all first letters in string are capical/uppercase

In [301]:
title = "Python Learing 02"

In [302]:
title.istitle()

True

In [303]:
title2 = "Python learning 02"#note l is in lower case

In [304]:
title2.istitle()

False

### isupper()

In [305]:
cap = "RESHMA TASNEEM 123 ABC!!!"#sting is in uppercase

In [306]:
cap.isupper()

True

In [307]:
cap1 = "reshMa TasnEem 123 abC!!!" #mix of lowercase and upper case

In [309]:
cap1.isupper()

False

In [310]:
cap2 = "reshma"#all lower case alphabets

In [312]:
cap2.isupper()

False

### join()
#### join is used to insert any element from one string to other string (with multiple sub strings)

In [316]:
j = ("abc","def","ghi")

In [317]:
j1 = "*"

In [319]:
j1.join(j)

'abc*def*ghi'

In [320]:
j2 = ('1', '2','3')

In [321]:
j1.join(j2)

'1*2*3'

### ljust()

In [322]:
j4 = "a b c "

In [323]:
j4.ljust(10)

'a b c     '

In [324]:
j4.ljust(10,'$')

'a b c $$$$'

### lower()

In [325]:
str_low = "ABCdEHdj"

In [326]:
str_low.lower()#string is converted in lowercase

'abcdehdj'

### lstrip()

In [328]:
str_left = " abc "

In [329]:
str_left.lstrip()# removes space on left and shifts string content to left

'abc '

### maketrans()
### translate()

In [355]:
m1 = "aeiou"

In [356]:
m2 = "AEIOU"

In [357]:
m3 = "example of maketrans function in string!"

In [360]:
m4 = m3.maketrans(m1,m2) #maketrans is used to assign string elements of m1 and m2 ont -to- one

In [361]:
print(m4)

{97: 65, 101: 69, 105: 73, 111: 79, 117: 85}

In [363]:
m3.translate(m4) # translate to apply the changes from m4 string to m3

'ExAmplE Of mAkEtrAns fUnctIOn In strIng!'

### mro()   ?????